{% if request.user.is_authenticated %}
<strong>You already logged in</strong>
<a href="{% url 'members_list' %}" class="btn btn-primary">Redirect to Members list page</a>
{% else %}
<div class="container">
  <form method="post" class="form account-form sign-in-form">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email" name='username'>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <strong>{{ form.username.errors }}</strong>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name='password'>
      <strong>{{ form.password.errors }}</strong>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>